.profile {
    margin-top: 40px;
}

.profile-content {
    margin-top: 30px;
}

.profile-content h3 {
    margin-bottom: 30px;
}

.profile-content p {
    margin-bottom: 10px;
}

.profile-actions button {
    margin-right: 20px;
}