.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.product-image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  color: #000000;
}

.list-group {
  flex-direction: row !important;
  flex-wrap: wrap;
}

.list-group-item  {
  position: relative;
  width: 33%;
  cursor: pointer;
  text-align: center;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

.btn {
  margin: 20px 10px 0 0;
}

.selected-article {
  margin: 0 auto 50px;
}

.edit-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.list-group-item+.list-group-item {
  border: 1px !important;
}

footer {
  position: static !important;
  bottom: auto !important;
}

.container-home, .container.profile, .submit-form, .edit-form {
  height: calc(100vh - 150px);
}